body {
  position: relative;
}
img:hover{
  cursor: pointer;
}
#movediv {
  position: absolute;
  top: 10px;
  z-index: 10000;
  left: 10px;
  height: 20px;
  width: 20px;
  background-color: #1b4be8;
  border-radius: 50px;
  box-shadow: 0 0 15px 1px #1b4be8;
  transition: all 0.1s linear;
}

.portfolio__filter {
  text-align: center;
  margin-bottom: 40px;
}
.portfolio__filter li {
  list-style: none;
  font-size: 16px;
  color: #adadad;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  padding: 6px 22px;
}
.portfolio__filter li.active {
  border: 1px solid #00bfe7;
  color: #ffffff;
  font-weight: 700;
}
.portfolio__filter li:last-child {
  margin-right: 0;
}

.portfolio__item {
  margin-bottom: 35px;
  overflow: hidden;
  transition: all 0.35s linear;
}
.portfolio__item:hover {
  transform: scale(1.1);
}
.portfolio__item:hover .portfolio__item__text h4:after {
  opacity: 1;
}

.portfolio__item__video {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 28px;
}
.portfolio__item__video .play-btn {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.portfolio__item__text {
  text-align: center;
}
.portfolio__item__text h4 {
  color: #ffffff;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px;
  position: relative;
}
.portfolio__item__text h4:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: #333;
  content: "";
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  opacity: 0;
}
.portfolio__item__text ul li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-right: 24px;
  position: relative;
  color: #adadad;
}
.portfolio__item__text ul li:after {
  position: absolute;
  right: -16px;
  top: 0;
  content: "/";
}
.portfolio__item__text ul li:last-child {
  margin-right: 0;
}
.portfolio__item__text ul li:last-child:after {
  display: none;
}
.portfolio__item__text span {
  font-size: 16px;
  font-weight: 300;
  color: #adadad;
  display: block;
}

.pagination__option {
  text-align: center;
  padding-top: 20px;
}
.pagination__option.blog__pagi {
  padding-top: 5px;
}
.pagination__option .arrow__pagination {
  font-size: 15px;
  color: #ffffff;
  display: inline-block;
  text-transform: uppercase;
}
.pagination__option .arrow__pagination.left__arrow {
  margin-right: 26px;
}
.pagination__option .arrow__pagination.right__arrow {
  margin-left: 18px;
}
.pagination__option .arrow__pagination span {
  opacity: 0.5;
}
.pagination__option .number__pagination {
  font-size: 18px;
  color: #ffffff;
  height: 50px;
  width: 50px;
  background: rgba(242, 242, 242, 0.1);
  line-height: 50px;
  text-align: center;
  display: inline-block;
  margin-right: 6px;
}

/*---------------------
  Contact
-----------------------*/
.contact {
  background: #100028;
  padding-top: 0;
  overflow: hidden;
}

.contact__map {
  height: 450px;
}
.contact__map iframe {
  width: 100%;
}

.contact__form h3 {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.contact__form form input {
  height: 50px;
  width: 100%;
  border: 1px solid rgba(225, 225, 225, 0.5);
  background: transparent;
  font-size: 16px;
  color: #adadad;
  padding-left: 20px;
  font-weight: 300;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.contact__form form input:placeholder {
  color: #adadad;
}
.contact__form form input:focus {
  border-color: #e1e1e1;
}
.contact__form form textarea {
  height: 110px;
  width: 100%;
  border: 1px solid rgba(225, 225, 225, 0.5);
  background: transparent;
  font-size: 16px;
  color: #adadad;
  padding-top: 12px;
  padding-left: 20px;
  font-weight: 300;
  margin-bottom: 14px;
  resize: none;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}
.contact__form form textarea:placeholder {
  color: #adadad;
}
.contact__form form textarea:focus {
  border-color: #e1e1e1;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio__filter li {
    padding: 6px 15px;
  }

  .portfolio__filter li {
    margin-bottom: 10px;
  }
}

#services,
#contact {
  background: url("../images/service_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* about us */
.support-company-area .support-location-img {
  position: relative;
}
.support-company-area .support-location-img::before {
  position: absolute;
  content: "";
  width: 92%;
  height: 95%;
  border: 9px solid rgba(255, 255, 255, 0.3);
  left: -4%;
  z-index: 0;
  top: -4%;
}
.support-company-area .right-caption {
  text-align: left !important;
}
@media only screen and (min-width: 1200px) and (max-width: 1250px) {
  .support-company-area .support-location-img::before {
    left: -2%;
  }
}
@media (max-width: 767px) {
  .support-company-area .support-location-img::before {
    display: none;
  }
}
.support-company-area .support-location-img img {
  width: 100%;
}
.support-company-area .support-location-img .support-img-cap {
  position: absolute;
  bottom: 138px;
  right: -104px;
  transform: rotate(-90deg);
}
@media (max-width: 767px) {
  .support-company-area .support-location-img .support-img-cap {
    right: -69px;
  }
}
.support-company-area .support-location-img .support-img-cap span {
  background: rgba(1, 75, 133, 0.8);
  padding: 19px 55px;
  font-size: 60px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
@media (max-width: 767px) {
  .support-company-area .support-location-img .support-img-cap span {
    padding: 6px 40px;
    font-size: 38px;
  }
}
@media (max-width: 478px) {
  .support-company-area .support-location-img .support-img-cap {
    display: none;
  }
}

/* contact us */
#connect_btn, #connect_btn:focus{
  border: none;
  outline: none;
}
.form-container {
  display: flex;
}

.left-container {
  flex: 1;
  min-height: 560px;
  background-color: #003d80;
}
.right-container {
  display: flex;
  flex: 1;
  min-height: 560px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}
.right-container iframe{
  width: 500px !important;
}

.left-container {
  display: flex;
  flex: 1;
  height: 520px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.left-container p {
  font-size: 0.9rem;
}

.right-inner-container {
  width: 100%;
  height: 90%;
  text-align: center;
  padding: 30px 10px;
}

.left-inner-container {
  height: 90%;
  padding: 20px 10px;
  width: 80%;
  text-align: center;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input,
textarea {
  background-color: #003d80;
  border: none;
  color: #ffffff;
  padding: 15px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: 1px solid teal;
}

#contact button {
  border-radius: 3px;
  border: 1px solid #007aff;
  background-color: #007aff;
  color: #ffffff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .lg-view {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
  }
}
@media (max-width: 1200px) {
  .right-container iframe{
  width: 400px !important;
}
}
@media (max-width: 997px) {
  .right-container iframe{
  width: 300px !important;
}
}
@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }
  .mouse_move{
    display: none;
  }
  .right-container iframe{
  width: 400px !important;
}
}

@media (max-width: 500px) {
  .right-container iframe{
  width: 300px !important;
}
#contact button{
  padding: 15px;
}
}
@media (max-width: 340px) {
  .right-container iframe{
  width: 230px !important;
}
}


form p {
  text-align: left;
}
